# Default ignored files
/shelf/
/workspace.xml

HELP.md
build/
!src/test/resources/main/**
!src/test/resources/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log

